@charset "UTF-8";
@import url("_variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-default);
    background-color: cornflowerblue;
}

main {
    background-color: var(--background-main-area);
    background-image: url(assets/images/space.png);
    width: 600px;
    height: 600px;    
}

.game-instructions {
    position: relative;
    color: white;
    left: 4.5rem;
    top: 0;
    font-size: 1.25em;
}

#start-button {
    position: relative;
    color: white;
    top: 9rem;
    left: 15rem;
    cursor: pointer;
}

.hero {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px;
}

.laser {
    position: relative;
    width: 40px;
    height: 30px;
}

.enemy {
    position: relative;
    height: 60px;
    width: 70px;
    left: 390px;
}

.enemy-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-enemy {
    position: relative;
    height: 60px;
    width: 70px;
    opacity: 0;
}

